.container {
  padding: 40px 80px;

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-field {
      margin-bottom: 20px;
      width: 75%;
    }
  }
}
