<mat-progress-bar *ngIf="buildings.length === 0" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <h1>Sanitization work order options</h1>
  <mat-card>
    <mat-card-content class="card-content">
      <mat-form-field class="input-field">
        <mat-label>Building</mat-label>
        <mat-select class="select-dropdown"
                    [(ngModel)]="selectedBuilding">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let building of buildings" [value]="building">{{building.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Floor</mat-label>
        <mat-select class="select-dropdown"
                    [disabled]="!selectedBuilding"
                    [(ngModel)]="selectedFloor">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let floor of selectedBuilding?.floors" [value]="floor">{{floor.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Space Type</mat-label>
        <mat-select class="select-dropdown"
                    [disabled]="!selectedFloor"
                    [(ngModel)]="selectedType">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let type of selectedFloor?.spaceTypes" [value]="type">{{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Usage Threshold</mat-label>
        <mat-select class="select-dropdown"
                    [disabled]="!selectedType"
                    [(ngModel)]="selectedUsage">
          <mat-option *ngFor="let usage of usages" [value]="usage">{{usage.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Frequency</mat-label>
        <mat-select class="select-dropdown"
                    [disabled]="!selectedUsage"
                    [(ngModel)]="selectedFrequency">
          <mat-option *ngFor="let freq of frequencies" [value]="freq">{{freq.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button
              [disabled]="disableSubmit()"
              (click)="submit()">Submit</button>

    </mat-card-content>

  </mat-card>
</div>
